body {
    font-family: Lato;
}

p {
    line-height: 1.6;
}

.hp-container {
    max-width: 100%;
    margin: 0 auto;
}

/* Colors */

:root {
    --blue: #4357ad;
    --teal: #48a9a6;
    --gold: #d4b483;
    --red: #c1666b;
    --white: #fff;
    --light-gray: #e4dfda;
    --border-gray: #cfd7de;
    --dark-text: #1b1f23;
    --lighter-text: #66727c;
    --blue-hover: #657ed4;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: var(--blue);
}

.logo-white {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: var(--white);
}

.brand-name {
    padding: 0 30px 0 8px;
}

/* Nav bar */

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    height: 60px;
    padding: 15px 25px;
    width: calc(100% - 50px);
    z-index: 2;
}

/* #top-nav {
    position: fixed;
} */

.nav-left {
    display: flex;
    align-items: center;
    margin-left: 45px;
}

.nav-link {
    display: none;
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 0 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.nav-link:hover {
    color: var(--blue);
}

@media (min-width: 800px) {
    .nav-link {
        display: block;
    }
}

.nav-right {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-right: 45px;
}

.cta-button {
    display: none;
    background-color: var(--blue);
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    transition: 0.25s ease-in-out;
}

.cta-button:hover {
    background-color: var(--blue-hover);
}

@media (min-width: 800px) {
    .cta-button {
        display: block;
    }
}

.hamburger-menu {
    display: block;
    cursor: pointer;
}

@media (min-width: 800px) {
    .hamburger-menu {
        display: none;
    }
}

/* Side menu */

.side-menu-position {
    padding-top: 25px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.side-menu-design {
    background-color: var(--blue);
    background-size: 1300px 700px;
    cursor: pointer;
    opacity: 0;
    transform: translateX(100%);
    transition: 0.4s ease-in-out;
}

.side-menu-header {
    border-bottom: 1px solid var(--gold);
    display: flex;
    justify-content: space-between;
    padding: 0 25px 25px 25px;
}

.side-menu-content {
    color: var(--white);
    font-size: 2em;
    margin: 25px;
    padding-left: 0;
}

.side-menu-content li {
    list-style: none;
    margin-bottom: 25px;
}

.side-menu-content a {
    text-decoration: none;
    color: var(--white);
}

.side-menu-contact {
    background-color: var(--red);
    color: var(--white);
    padding: 15px 0;
    text-align: center;
    width: 100%;
}

.show-menu {
    opacity: 1;
    transform: translateX(0%);
}

/* Hero */

.hero-container {
    height: 450px;
    background: black;
    overflow: hidden;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr;
    background-image: url(https://www.naco.org/sites/default/files/GettyImages-1198515525.jpg);
    background-size: cover;
    z-index: 1;
}

@media (min-width: 800px) {
    .hero-container {
        grid-template-columns: 1fr 1fr;
    }
}

.introduction {
    color: var(--white);
    text-align: center;
    margin: 0 30px 30px 30px;
    padding: 20px;
}

.image-darken {
    position: relative;
  }
  
.image-darken::before {
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
    z-index: -1;
}

.hero-title {
    font-size: 48px;
}

.hero-subtitle {
    font-size: 18px;
}

/* CTA Form */

.more-info-box {
    display: none;
}

@media (min-width: 800px) {
    .more-info-box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0 15px;
    }
}

.more-info-box-mobile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
}

@media (min-width: 800px) {
    .more-info-box-mobile {
        display: none;
    }
}

.form-body {
    border-radius: 9px;
    background-color: var(--white);
    padding: 8px 20px 20px 20px;
    box-shadow: 5px 24px 40px 0 rgb(42 49 59 / 11%);
    width: 100%;
}

@media (min-width: 800px) {
    .form-body {
        width: 350px;
    }
}

input, button, select, textarea {
    display: block;
    margin-bottom: 15px;
}

input[type="text"], input[type="textarea"] {
    width: calc(100% - 20px);
    height: 30px;
    border: 1px solid #aeb1b9;
    border-radius: 3px;
}

input[type="text"]:focus, input[type="textarea"]:focus {
    border: 1px solid var(--teal);
    box-shadow: 0 0 6px var(--teal);
    outline: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type="submit"] {
    width: 100px;
    background-color: var(--blue);
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    padding: 8px;
    text-align: center;
    transition: 0.15s ease-in-out;
}

input[type="submit"]:hover {
    background-color: var(--blue-hover);
}

.cta-button:hover {
    background-color: var(--blue-hover);
}

/* Services Section */

.services {
    margin: 20px 45px;
}

.services-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px 40px 60px 40px;
}

@media (min-width: 800px) {
    .services-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
}

.services-title {
    text-align: center;
    padding-top: 10px;
}

.services-item {
    display: block;
    justify-content: center;
    align-items: center;
}

@media (min-width: 800px) {
    .services-item {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

.services-icon {
    font-size: 60px;
    width: 60px;
    margin: 20px;
    color: var(--teal);
}

.services-content h3 {
    font-size: 22px;
}

@media (min-width: 800px) {
    .services-content {
        padding-left: 10px;
    }
}

/* Can I Use It Section */

.use {
    background-image: linear-gradient(var(--blue), var(--teal));
    color: var(--white);
    padding: 15px 0;
}

.use-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px 80px 40px 80px;
}

@media (min-width: 800px) {
    .use-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
    }
}

.use-title {
    text-align: center;
    padding-top: 10px;
}

.use-item {
    display: block;
}

@media (min-width: 800px) {
    .use-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

.use-item h3 {
    text-align: left!important;
    font-size: 20px;
}

.use-icon {
    font-size: 30px;
    width: 30px;
    margin: 10px 20px 0px 0px;
    color: var(--white);
}

.use-content {
    display: flex;
}

/* Clients Section */

.clients {
    margin: 20px 100px;
}

.clients-container {
    display: block;
    align-items: center;
    justify-content: space-between;
    margin: 20px 45px 60px 45px;
}

@media (min-width: 800px) {
    .clients-container {
        display: flex;
    }
}

.clients-title {
    text-align: center;
    padding-top: 10px;
}

.clients-image {
    display: block;
    justify-content: center;
    align-items: center;
    width: 6em;
    background-size: cover;
    margin: 1em;
}

@media (min-width: 800px) {
    .clients-image {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.clients-image img {
    max-width: 100%;
    height: auto;
}

/* About Us Section */

.about {
    height: 400px;
    display: flex;
    overflow: hidden;
    background-image: url(https://www.naco.org/sites/default/files/GettyImages-1147195672_1920.jpg);
    background-size: cover;
    z-index: 1;
}

.image-darken-blue {
    position: relative;
  }
  
.image-darken-blue::before {
    position: absolute;
    background-color: rgba(67, 87, 173, 0.8);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
    z-index: -1;
}

.about-container {
    color: var(--white);
    text-align: center;
    margin: 0 50px 0px 50px;
    padding: 20px;
}

.about-title {
    text-align: center;
    padding-top: 10px;
}

.about-text {
    font-size: 20px;
    padding-top: 10px;
}

@media (min-width: 800px) {
    .about-text {
        font-size: 24px;
    }
}

/* Contact Section */

.contact {
    margin: 20px 45px;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px 40px 40px 40px;
}

@media (min-width: 800px) {
    .contact-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
    }
}

.contact-title {
    text-align: center;
    padding-top: 10px;
}

.contact-item {
    display: block;
    justify-content: flex-start;
    align-items: flex-start;
}

@media (min-width: 800px) {
    .contact-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}

.contact-icon {
    font-size: 40px;
    width: 40px;
    margin: 20px 0px 0px 0px;
    color: black;
}

.contact-content p {
    font-size: 18px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media (min-width: 800px) {
    .contact-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
    }
}

.contact-content a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: var(--lighter-text);
    color: var(--white);
    height: 100%;
}

.copyright {
    padding: 20px;
    font-size: 10px;
}

/* Exit Intent Popup */
.exit-intent-popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    background: rgba(33, 33, 33, 0.8);
    transform: translateY(60%) scale(0);
    transition: transform 0.3s;
}

.exit-intent-popup.visible {
    transform: translateY(0) scale(1);
}

.modal-message {
    background-color: var(--white);
    border: 4px solid var(--teal);
    font-size: 24px;
    text-align: center;
    padding: 40px 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}